@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-white dark:bg-slate-900;
}
